<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="utf-8">
                <meta name="author"content="walter">
                <title>beautylevel</title>
                <link rel="stylesheet"href="/css/main.css">
                 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        </head>
        <body class="animated bounceInDown">
                <nav class="navbar navbar-light"style="background-color: #e3f2fd;">
                        <a class="navbar-brand"href="/">Inicio</a>
                        <a class="navbar-brand"href="/signup">Registrate</a>
                        <a class="navbar-brand"href="/signin">Inicia Secion</a>
                </nav>
                <br><center><h1>Comentarios</h1></center>
		<% comentarys.forEach(function (comentary) { %>
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<p class="card-text"><%= comentary.name  %></p>
				<p class="card-text"><%= comentary.comentary %>
			</div>
		</div>
		<% }) %>
	</body>
</html>
