<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="utf-8">
                <meta name="author"content="walter">
                <title>beautylevel</title>
                <link rel="stylesheet"href="/css/main.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        </head>
        <body class="animated bounceInDown">
                <nav class="navbar navbar-light"style="background-color: #e3f2fd;">
                        <a class="navbar-brand"href="/">Inicio</a>
                        <a class="navbar-brand"href="/signup">Registrate</a>
                        <a class="navbar-brand"href="/signin">Inicia Secion</a>
                </nav>
                <br><center><h1>Inicia Secion</h1></center>
                 <div class="card mx-auto"style="width: 18rem;">
			 <div class="card-body mx-auto">
                                <form action="/signin"method="POST">
                                <!-- si existe el mensaje que me lo muestre para que el usuario sepa en que falla   -->
                                        <% if(signinMessage ) { %>
                                                <p><%= signinMessage  %></p>
                                        <% } %>
                                        <label>Correo</label>
                                        <input type="email"class="form-control"name="email"placeholder="Correo Electronico">
                                        <label>Contraseña</label>
                                        <input type="password"class="form-control"name="password"placeholder="Ingrese Contraseña">
                                        <br><button class="btn btn-primary btn-block">Registrarse</button>
                                        <br><a href="/signin">Inicia Secion</a>
                                </form>
                        </div>
                 </div>

	</body>
</html>
